.container{
display: flex;
}
.sec-one{
    padding:1.8rem 2rem;
    width: 100%;
    height: 100vh;
}
.sec-two{
    display: none;
}   
p,h1,h4{
    text-align: center;
}

@media (min-width: 901px) {
    .sec-two{
        display: inline;
        width: 55%;
        height: 100vh;
        position: relative;
        background-color: red;
    }
    .sec-one{
        padding:1.8rem 2rem;
        width: 45%;
        height: 100vh;
    }
}