.container{
  width: 100%;
}
.form{
    margin-top: 1rem;
    padding: 0.5rem 0rem;
    width: 100%;
}
.error-msg-cont{
  width: 100%;
  background-color: #f8d7da;
  border-radius: 3px;
  border: 1px solid #f5c6cb;
  padding: 0.3rem;
}
.success-msg-cont{
  width: 100%;
  background-color: #d4edda;
  border-radius: 4px;
  border: 1px solid #c3e6cb;
  padding: 0.3rem;
}
.auth-errorMsg{
    color: red;
    font-weight: bold;
    font-size: 0.9em;
    text-align: center;
}
.auth-successMsg{
    color: green;
    font-weight: bold;
    font-size: 0.9em;
    text-align: center;
}
.errorMsg{
    color: red;
    font-weight: bold;
    font-size: 0.9em;
    text-align: start;
}
.input-cont{
    margin-bottom: 0.6rem;
}